body
{
    text-align: center;
font-size: 25px !important;
font-family: cursive;
}
h3{
    font-size: 30px !important;
    background-color: navy;
    color: black;
}
#btb{
    background-color: navy;
}
.copy_right_footer{
    bottom: 0%;
    position: fixed;
    background-color: gray;
    color: white;
    line-height: 3;
    width: 100%;
    text-align: center;
}
